$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #e9dcc9;
$background-alternative-color: #e0fbfc;
$background-color-footer: #f09c2c;
$background-color-text: #000;
$title-h1-text-color: #d57904;
$title-p-text-color: #f6210f;
$a-color: #fff;
$background-color-a: #e72089;
$main-font-size: 2.3em;
$main-line-height: 1.3;
$basic-bottom: $main-font-size * $main-line-height;
